{% include 'base_template.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    {% if message_state == 0 %}
        <div class="alert alert-success" role="alert">
    {% else %}
        <div class="alert alert-danger" role="alert">
    {% endif %}
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>


{% endfor %}

<h2>Update User Form: {{ name_to_update.userID }}</h2>
<div class="shadow p-3 mb-5 bg-body rounded">
    <form method="POST">
            {{ form.hidden_tag() }}

            {{ form.name.label(class="cal-form-label") }}
            {{ form.name(class="form-control") }}

            {{ form.userID.label(class="cal-form-label") }}
            {{ form.userID(class="form-control", disabled="disabled") }}
 
            {{ form.password.label(class="cal-form-label") }}
            {{ form.password(class="form-control") }}

            <br/>
            {{ form.submit(class="btn btn-primary") }}
    </form>
</div>

{% endblock %}