<nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('index')}}">
        <div class="tenor-gif-embed" data-postid="308418063435392263" data-share-method="host" data-aspect-ratio="1" data-width="5%"><a href="https://tenor.com/view/vojtax-relvojtax-ohioan-gif-308418063435392263">Vojtax Relvojtax GIF</a>from <a href="https://tenor.com/search/vojtax-gifs">Vojtax GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
        MD VISION
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('index')}}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('Users.user_list')}}">Auth User List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('patient.patient_list')}}">Patient List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>